[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-django = "*"
codecov = "*"
pytest-cov = "*"
behave = "*"
behave-django = "*"
codacy-coverage = "*"

[packages]
django = "*"
behave-classy = "*"
behave-web-api = "*"
django-heroku = "==0.3.1"
gunicorn = "*"
ipython = "*"
djangorestframework = "*"
redis = "*"
celery = "*"
pylint = "*"

[requires]
python_version = "3.7"
