[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-django = "*"

[packages]
django = "*"
behave = "*"
behave-classy = "*"
behave-web-api = "*"
django-heroku = "==0.3.1"
gunicorn = "*"
ipython = "*"
djangorestframework = "*"

[requires]
python_version = "3.7"
